.header {   

}    

.nav {
    padding: 2.2rem 0;  
    background-color: $color-primary; 

    & .container {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }

    &__logo {
        font-family: 'Roboto', sans-serif;        
        font-size: 2.9rem;  
        color: #fff;
        font-weight: 700;

        &--span {

        }  
    } 

    &__links {
        display: flex;
        list-style: none; 
        font-weight: 600;
        font-size: 1.6rem;
    }

    &__item {
        
        &:not(:last-child) {
            margin-right: 2.7rem;
        }
    }

    &__link {
        color: #fff;
    } 
}